---
layout: splash
author_profile: false
classes: wide
page_assets: /assets/images/landpage/
---


<!-- FIXME -->

<!--
{% for item in site.data.navigation.landpage %}
  <a href="{{site.baseurl}}{{item.url}}" style="color:#eaeaea;">
    <div style="margin: 0 10px 10px 0;float:left;">
      <img style="max-height:329px;max-width:595px;height:100%x;width:100%;object-fit: contain;"
           src="{{site.baseurl}}{{page.page_assets}}{{item.image}}"/>
    </div>
  </a>
{% endfor %}
-->

<!--
{% include gallery id="home_gallery"  %}
-->

<!-- FIXME -->
<div style="background-color: ffffff;width:1200;height:2680;">
  <div style="position:relative">
    <img style="width:100%;object-fit: contain;margin: 0"
    src="{{site.baseurl}}{{page.page_assets}}landpage.svg"/>

    <div style="position:absolute;left:30;top:20;">
      <span style="font-size:3em;font-family: 'Shrikhand', cursive;">Bullles de code</span>
    </div>


    <div>
      <div style="display:flex;flex-direction:row;">
        <img style="float:left;" src="{{site.baseurl}}/assets/images/bullet.svg" />
        <div style="display:flex;flex-direction:column;align-items:flex-start;">
          <p style="font-family:Helvetica,Arial;font-strech:condensed;color:#bceaea;font-size:1.6rem;padding-left:0.5em">Blog</p>
          <hr style="color:#bceaea;width:90%;"/>
        </div>
      </div>
      <p style="color:#eaeaff;font-size:0.7rem">Industrialisation Machine Learning a Voxxed Luxembourg</p>
      <div>
        <a href="{{site.baseurl}}/blog/">
          <div style="position:relative;left:0;top:0;z-index:8;height:45;width:250;">
            <img style="border:none;outline:none;"
                  src="{{site.baseurl}}/assets/images/button.svg" />
          </div>
        </a>
        <div style="position:relative;left:50;top:-90;z-index:9">
          <p>Lire</p>
        </div>
      </div>
    </div>

    {% for item in site.data.navigation.landpage %}
       <div style="position:absolute;z-index:8;width:40%;top:{{item.text-top-offset}};left:{{item.text-left-offset}}"
            id="text-overlay">
           <p style="color:#eaeaea;font-size:0.7rem">{{item.text}}</p>
       </div>
        <a href="{{site.baseurl}}{{item.url}}">
          <div style="position:absolute;z-index:9;width:50%;height:100;top:{{item.button-top-offset}};left:{{item.button-left-offset}};border:none;background-color:transparent;outline:none"
            <p>&nbsp;</p>
          </div>
        </a>

      {% endfor %}
  </div>
</div>
