---
layout: splash
author_profile: false
classes: wide
page_assets: /assets/images/landpage/
---


<!-- FIXME -->

<!--
{% for item in site.data.navigation.landpage %}
  <a href="{{site.baseurl}}{{item.url}}" style="color:#eaeaea;">
    <div style="margin: 0 10px 10px 0;float:left;">
      <img style="max-height:329px;max-width:595px;height:100%x;width:100%;object-fit: contain;"
           src="{{site.baseurl}}{{page.page_assets}}{{item.image}}"/>
    </div>
  </a>
{% endfor %}
-->

<!--
{% include gallery id="home_gallery"  %}
-->

<!-- FIXME -->
<div class="div_background" style="background-color: ffffff;width:1200;height:2680;">
  <div style="position:relative">
    <img style="width:100%;object-fit: contain;margin: 0"
    src="{{site.baseurl}}{{page.page_assets}}landpage.png"/>
  </div>

    {% for item in site.data.navigation.landpage %}
    <div class="bdc_box">
      {% if item.titleImage %}
        <div class="bdc_box_head">
          <img style="height:{{item.titleHeight}}px;"
               src="/assets/images/landpage/{{item.titleImage}}" />
        </div>
      {% else %}
        <header><h2>{{item.title}}</h2></header>
      {% endif %}

      {% if item.description or item.featured %}
          {% if item.description %}
            <div class="bdc_box_item">
              <p style="color:#eaeaea;font-size:0.7rem;padding:0;">{{item.description}}</p>
            </div>

          {% endif %}
          {% if item.featured and item.featured.size > 0 %}
            {% for featured in item.featured %}
              <div class="bdc_box_item">
                <div class="bdc_item_text">
                  <p style="color:#eaeaea;font-size:0.7rem;padding:0;">
                    <img style="height:1rem;display:block;margin-left:auto;margin-right:auto;"
                        src="/assets/images/landpage/sep-light.svg" /><br>
                    <a href="{{featured.url}}">{{featured.text}}</a>
                  </p>
                </div>
            </div>
            {% endfor %}
          {% endif %}
      {% endif %}



      <div class="bdc_box_tail">
      <!--<div style="float:right;margin-bottom:2rem;">-->
        <a href="{{ item.url }}" >
          <!-- {{ item.btn }}  class="btn btn--no-outline btn--medium btn--info" -->
          <img style="height:50px;"
               src="/assets/images/landpage/button.png" />
        </a>
      </div>

      <div class="bdc_box_push">
      </div>

    </div>
    {% endfor %}

</div>
