---
layout: splash
author_profile: false
classes: wide
page_assets: /assets/images/landpage/
---


<!-- FIXME -->

<!--
{% for item in site.data.navigation.landpage %}
  <a href="{{site.baseurl}}{{item.url}}" style="color:#eaeaea;">
    <div style="margin: 0 10px 10px 0;float:left;">
      <img style="max-height:329px;max-width:595px;height:100%x;width:100%;object-fit: contain;"
           src="{{site.baseurl}}{{page.page_assets}}{{item.image}}"/>
    </div>
  </a>
{% endfor %}
-->

<!--
{% include gallery id="home_gallery"  %}
-->

<div class="div_background" style="background-color: ffffff;width:1200;height:2680;">
  <div style="position:relative">
    <img style="width:100%;object-fit: contain;margin: 0"
    src="{{site.baseurl}}{{page.page_assets}}landpage.png"/>
  </div>

  <div>
    <p></p>
  </div>

  {% for item in site.data.navigation.featured %}
    <div style="display: flex;flex-flow: row wrap;flex-basis: 10px;justify-content: start;align-items: center;">

      {% for featured in item.featured %}
        <div style="width:150px;">
          {% if featured.thumbnail %}
            <img style="width:150px;display:block;margin-left:auto;margin-right:auto;"
                          src="{{featured.thumbnail}}" />
          {% else %}
            <img style="height:1rem;display:block;margin-left:auto;margin-right:auto;"
                        src="/assets/images/landpage/sep-light.svg" />
          {% endif %}
        </div>
        
        <div style="width:5%;">
        </div>

        <div style="width:auto;">
          <p style="color:#eaeaea;font-size:0.7rem;padding:0;">
            <a href="{{featured.url}}">{{featured.text}}</a>
          </p>
        </div>

        <div style="width:5%;">
        </div>

        <div style="width:50px;">
          <a href="{{ featured.url }}" >
          <!-- {{ item.btn }}  class="btn btn--no-outline btn--medium btn--info" -->
            <img style="width:50px;width:auto;"
                 src="/assets/images/landpage/button.png" />
          </a>
        </div>
  
      {% endfor %}
 
  </div>
  {% endfor %}

</div>
