---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// home cards

.cards  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 10px;
  margin: 5px;
}


.card {
  #background-color: #3F3322;
  #background-color: yellow;
  #padding: 5px;
  margin: 5px;

  width: 300px;
  height: 400px;
}

.card img {
  position: relative;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.card .ellipse {
  position: relative;
  top: -60px;
  background-color: #3471c4;
  clip-path: ellipse(70% 28% at 50% 60%);
  width: 300px;
  height: 200px;
}

.card .text {
  position: relative;
  top: -190px;
  width: 300px;
  padding: 15px;
  color: #FFFFFF;
}

.card .text p a {
  text-align: center;
  color: #FFFFFF;
  font-size:0.6rem;
}

